<div id="package" class="package_own" ng-click="packageClick()">
	<div class="package_menu"
		 ng-class='{"package_border_0":packageData.prodRange==1,"package_border_1":packageData.prodRange==2,"package_border_2":packageData.prodRange==3,"package_border_3":packageData.prodRange==4}'>
		 <div class="hot_tag" ng-if="packagehot == 1"></div>
		<span class="package_desc" ng-bind="::packageData.prodShortDesc"></span>
		<div class="package_line"
			 ng-class='{"one":packageData.prodRange==1,"two":packageData.prodRange==2,"three":packageData.prodRange==3,"four":packageData.prodRange==4}'>
			<span class="package_name" ng-bind="::packageData.prodName"></span>
			<span ng-if="::packageData.payType == 0" class="package_price" ng-bind="::packageData.prodPrice|currency:'￥':1"></span>
            <span ng-if="::packageData.payType == 1" class="package_price" ><span ng-bind="::packageData.pointNum"></span>分</span>
		</div>
		<span class="package_kind package_kind_0" ng-if="packageData.prodRange==1">全国</span>
		<span class="package_kind package_kind_1" ng-if="packageData.prodRange==2">省内</span>
		<span class="package_kind package_kind_2" ng-if="packageData.prodRange==3">本地</span>
        <span class="package_kind package_kind_3" ng-if="packageData.prodRange==4">国际</span>
		<!--<span class="package_kind" ng-class='{"package_kind_0":packageData.prodType==1,"package_kind_1":packageData.prodType==2}' ng-bind="::packageData.childSaleAttrConfigMap.pk_name"></span>-->
	</div>
</div>